# Environment variables & secrets
.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.pfx
kubeconfig*
aws-credentials*
jenkins_credentials*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.venv/
env/
venv/

# Terraform & IaC
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!.tfvars.example

# Kubernetes local cluster
.minikube/
.kube/

# Node & Docker
node_modules/
*.log
docker/*.tar

# OS specific
.DS_Store
Thumbs.db
